.space-hover-a a{
	text-decoration:none;
}
.space-hover-a a:hover{
	background-color:#172D44;
	text-decoration:none;
	cursor:default;
}
.container-form{
	width:50%;
	margin:0 auto;
}
.percent{
	font-family:Tahoma, Geneva, sans-serif;
	font-weight:bold;
	font-size:13px;
}
.mt-20 {
	margin-top: 20px !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}